*{
    /*margin trible */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #25616e;
}

h1 {
    color: navy;
    margin-left: 20px;
}


/*Navagation*/
.nav-grid {
    z-index: 1;
    position: fixed;
    display: grid;
    height: relative;
    width: relative;
    grid-template: 60px / 119.5fr 119.5fr 0fr 170fr 170fr 170fr;
    background-color: #25616e;
    border-bottom-color: #d2e5ed;
    border-bottom-style: solid;
}

.nav-box {
    margin: 15px;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
    
}

.arrow {
    width: 0; 
    height: 0; 
    border-left: 4vw solid transparent;
    border-right: 4vw solid transparent;
    border-top: 60px solid #f3573b;
}

.experience-box {
    text-align: left;
    margin-left: 4.3vw;
}

.skills-box {
    text-align: left;
    margin-left: 9.5vw;
}

.interest-box {
    text-align: left;
    margin-left: 1.5vw;
}

/*Home Content*/

.content-grid-home {
    display: grid;
    grid-template: 100%/ 1fr 1fr 1fr;
}

.image-home {
    width: fit-content;
    max-width: 100%;
    height: 85vh;
}

.line-break-home {
    height: 10px;
    background-color: #5f909c;
}

.bottom-text {
    margin: 4vh;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: whitesmoke;
    font-family: Constantia;
}

/* .img-left {
    height: relative;
    width: relative;
} */

/*About Content*/
.line-break-about {
    height: 2px;
    background-color: #d2e5ed;
}
.greeting {
    margin: 4vh;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.content-grid-about {
    display: grid;
    margin: 8vh 0;
    grid-template: 100%/ 2fr 1fr;
    background-color: aliceblue;
}

.text-about {
    position: relative;
    top: 8px;
    left: 10px;
    font-size: 1.8vw;
    margin: 6vw; 
}   

.image-about {
    width: fit-content;
    max-width: 100%;
    max-height: 100%;
    height: 35vmax;   
}
.about {
    /* background-color: #5f909c; */
}

/*Skills Content*/
.thin-line-break-skills {
    margin-top:50px;
    height: 2px;
    background-color: #d2e5ed;
}

.line-break-skills {
    margin-bottom: 50px;
    height: 20px;
    background-color: #d2e5ed;
}

.line-break-skill-bottom {
    margin-top:50px;
    height: 20px;
    background-color: #d2e5ed;
}

.header {
    margin-bottom: 2vh; 
    margin-top: 2vh;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: whitesmoke;
    font-family: Constantia;
}

.skills-block{
    display: grid;
    height: relative;
    padding: 0px;
    margin: 12vh 10vw;
    grid-template: repeat(1,1fr)/repeat(1, 1fr);
    background-color: #273336;
}

.grid-skills{
    padding: 1vh 0;
    margin: 0vh 0 .5vh 0;
    font-size: 30px;
    text-align: center;
    background-color: #d2e5ed;
    border-bottom-color: grey;
    border-bottom-style: solid;
    
}

.content-grid-list-1 {
    display: grid;
    padding: 5px;
    grid-template: repeat(1,1fr)/1fr 1fr;
    text-align: center;
    background-color: #d2e5ed;
    border-color: black;
    border-bottom-style: solid;
    border-top-style: solid;
}

.skill-list-header-1{
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    background-color: #273336; 
}
/* experience content */

/* container */
.exp-container-1 {
    height: 36vmax;
}

/* blocks */
.exp-block-1 {
    margin: 0 0;
    background-color: #d2e5ed;
    display: grid;
    height: inherit;
    grid-template: 1fr /1fr 2fr;
}
.exp-block-2 {
    margin: 0 0;
    background-color: #273336;
    display: grid;
    height: inherit;
    grid-template: 1fr /2fr 1fr;
}
/* content */
.exp-content-1 {
    justify-content: center;
    height: 36vmax;
    width: 100%;
    /* background-color: #f3573b; */
    align-content: center;
}

.exp-content-1 img {
    height: 20vmax;
    display: block;
    margin-top: relative;
    margin-left: auto;
    margin-right: auto; 
    /* background-color: #f3a73a; */  
}

.exp-content-con-2 {
    width: fit-content;
    height: 36vmax;
}

.exp-content-2 {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: 10vmax;
    font-size: 2vmax;
}

.exp-content-2 li {
    margin-left: 50px;
}